**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/.git
**/.gitignore
**/Debug
**/Release
**/*.user
**/*.suo
**/*.md
**/tests
**/*.db
**/*.db-shm
**/*.db-wal
**/docker-compose*.yaml
**/.dockerignore
